body .Form {
	color: #ffffff;

	&-Wrapper {
		position: relative;
		margin-top: 7.8%;
		display: flex;
		flex-wrap: wrap;
		align-items: center;
		justify-content: space-between;

		&_type_end {
			justify-content: flex-end;
		}
	}

	&-Item {
		display: block;
	}

	&-Annotation {
		width: 100%;
		padding-left: 10px;
		display: block;
		font-size: 30px;
		font-weight: 300;
	}

	&-Input {
		padding: 13px 8px 13px 15px;
		margin-top: 2.5%;
		background-color: #ffffff;
		width: 47%;
		background-repeat: no-repeat;
		background-position: right;
		outline: none;
		border-radius: 3px;
		font-size: 18px;
		border-bottom: none;
	}

	&-Popover {
		z-index: 1302;
	}

	&-ErrorInfo {
		font-size: 20px;
		color: var(--red);
	}

	&-Button {
		min-width: 20px;
		border-radius: 5px;
		font-weight: 700;

		&_type_action {
			margin-top: 5.5%;
			padding: 1.5% 8.7%;
			font-size: 24px;
			color: var(--brown);
			background-color: var(--yellow);
		}
	}
}
