.Header {
	background-image: url('./../../assets/images/bg-header-main-page.jpg');
	border-bottom: 8px solid var(--yellow);

	&-Wrapper {
		display: flex;
		justify-content: center;
		gap: 7.4%;
		padding: 13.3% 0 0 5.5%;
	}
}
