.Header {
	background-position: top center;
	background-image: url('./../../assets/images/bg-header.jpg');

	&_type_main {
		background-image: url('./../../assets/images/bg-header-main-page.jpg');
		border-bottom: 8px solid var(--yellow);
	}

	&-Title {
		margin-top: 14%;
		width: 30%;
		padding: 2.5% 0 0 8%;
	}

	&-Wrapper {
		display: flex;
		justify-content: center;

		&_type_main {
			margin-top: 8.7%;
			gap: 11.5%;
			padding: 0 12%;
		}
	}
}
