.StepsBar-Item {
	padding: 25px 4.5% 25px 2%;
	border-right: 1px solid var(--light-gray);

	&_type_active {
		background-color: var(--yellow);
	}
}

.StepsBar-Item:first-child {
	padding-left: 13.1%;
	padding-right: 12%;
}

.StepsBar-Item:nth-child(3) {
	padding-left: 1.9%;
	padding-right: 8.4%;
}

.StepsBar-Item:last-child {
	padding-left: 1.8%;
	border-right: none;
}

.Arrow {
	width: 40px;
	height: 40px;
	z-index: 5;
	border-right: 1px solid #fff;
	border-bottom: 1px solid #fff;
	border-radius: 3px;
	overflow: hidden;
	background-color: inherit;
}
